scrapy
bs4
openai
pandas
pyarrow
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-cloud-logging
selenium
webdriver_manager
mysql-connector-python
gspread
oauth2client
prefect==2.14.17
prefect-gcp==0.4.4
anyio==3.7.1
seaborn
unidecode
